PORT=8080
JWT_SECRET=changez_cette_valeur_en_production_avec_une_cle_aleatoire_longue
DB_PATH=./data/area.db
FRONTEND_URL=http://localhost:8081

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
